@{
    ViewBag.Title = "About";
}


<h2>CineChat created by:</h2>
<ul>
    <li><p>António Gonçalves</p></li>
    <li><p>Daniel Braga</p></li>
    <li><p>João Morgado </p></li>
    <li><p>Paulo Pereira</p></li>
</ul>