@{
    ViewBag.Title = "Home Page";
}



<div class="row">
  
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="Imagens/imagem1"  class="img-thumbnail">
        </div>
    </div>
</div>