@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Search Movies</h1>
    <hr>
    <div class="panel panel-default ">
        <div class="panel-body ">
            <img src="/Content/Images/image1.jpg" class="img-thumbnail img-responsive pull-left" width="140" height="140">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/Content/Images/image2.jpg" class="img-thumbnail img-responsive pull-left" width="140" height="140">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/Content/Images/Joker.jpg" class="img-thumbnail img-responsive pull-left" width="140" height="140">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            Film 4
        </div>
    </div>
</div>